fastapi==0.115.12
uvicorn[standard]==0.34.3
python-multipart==0.0.20

pymongo==4.13.2
python-dotenv==1.1.0

numpy==1.26.4
scikit-learn==1.5.2
joblib==1.4.2
xgboost==2.1.4

requests==2.32.4

python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4

redis
motor
email-validator