fastapi==0.115.12
uvicorn[standard]==0.34.3
python-multipart==0.0.20

pymongo==4.13.2
python-dotenv==1.1.0

numpy==1.26.4
scikit-learn==1.6.1
joblib==1.4.2
xgboost==2.1.4

requests==2.32.4
httpx==0.28.1

python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.2.1

argon2-cffi==23.1.0
pyotp==2.9.0
qrcode[pil]==8.0

redis
motor
email-validator>=2.2.0
dnspython>=2.7.0
jinja2==3.1.6
openpyxl==3.1.5
psutil>=5.9.0
